{% set previewClass = isPreview ? 'main_preview' : '' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "elements/head.twig" %}
</head>
<body class="{{ merchantData.alias }} {{ previewClass }} {{ page }} {{ pageConfig.data.theme.params.show_dark_mode ? 'dark-mode' : '' }}">

    <div id="app">
        {% for section in sections %}
            {% if section.visible %}
                {% include 'sections/' ~ section.section_alias ~ '.twig' with section %}
            {% endif %}
        {% endfor %}

        <smooth-scroll :display-at="300">
            <template slot-scope="{ scroll }">
                <div class="scroll-top" @click="scroll">
                    <i class="icon icon-scroll-top"></i>
                </div>
            </template>
        </smooth-scroll>
        
        {% if merchantData.cookies_policy.active %}
            <div class="container">
                <cookies-warning></cookies-warning>
            </div>
        {% endif %}

        {% if pageConfig.data.page == 'home' %}
            <add-to-cart selected-price="{{ pageConfig.data.theme.params.highlight_type_payment }}"> </add-to-cart>
        {% endif %}

    </div>
    {% include "elements/footer.twig" %}
</body>
</html>
