{% set headerTextColor = section.params.text_color %}
{% set menuTextColorValue = section.params.menu_text_color | default(headerTextColor) %}

{% set headerBgColor = section.params.background_color %}
{% set menuBgColorValue = section.params.menu_background_color | default(headerBgColor) %}

{% set headerLayout = section.params.header_layout %}

{% set layoutMenuBgColorMap = {
    "inline": headerBgColor,
    "left": menuBgColorValue,
    "center": menuBgColorValue,
} %}

{% set layoutMenuTextColorMap = {
    "inline": headerTextColor,
    "left": menuTextColorValue,
    "center": menuTextColorValue,
} %}

{% set menuTextColorMapValue = layoutMenuTextColorMap[headerLayout] %}
{% set menuTextColor = menuTextColorMapValue %}

{% set menuBgColorMapValue = layoutMenuBgColorMap[headerLayout] %}
{% set menuBgColor = menuBgColorMapValue %}

{% set cartIconColor = section.params.cart_icon_color %}
{% set headerIconColor = section.params.header_icon_color ?? section.params.cart_icon_color %}

{% set showHighlightbar = section.params.highlightbar_enabled and 
            section.params.highlightbar_text and 
            (not section.params.highlightbar_only_home or page == 'home') 
%}

{% set showTopbar = section.params.topbar_enabled and 
                (
                    section.params.topbar_show_whatsapp or 
                    section.params.topbar_show_phone or 
                    section.params.topbar_tracking_url
                ) 
%}

<section 
    class="section-header {{ "#{section.section_alias}-#{section.order}" }} {{ section.params.fixed_header ? '-fixed' : '' }}" 
    id="section-header"
>
    <rocket-emitter emits="header" label="Cabeçalho" order="{{ section.order }}">
        <fixed-header
            class="header"
            :fixed="{{ section.params.fixed_header ? 'true' : 'false' }}"
            style="
                --header-font-color: {{ headerTextColor }};
                --header-bg-color: {{ headerBgColor }};
                --header-icon-color: {{ headerIconColor }};
                --menu-text-color: {{ menuTextColor }};
                --menu-bg-color: {{ menuBgColor }};"
        >
            {% if showHighlightbar %}
                {% include "elements/header/highlightbar.twig" %}
            {% endif %}

            {% if showTopbar %}
                {% include "elements/header/topbar.twig" %}
            {% endif %}
            <div class="h-{{ headerLayout }}-container">
                <div class="header-content">
                    <div class="header-row  --{{ headerLayout }}">
                        {% if section.params.show_categories or featured_categories | length %}
                            <Side-Bar-Trigger active-class="active-menu" name="menu">
                                <svg width="15" height="11" fill="none" viewBox="0 0 15 11" class="mobile -block">
                                    <icon-store-menu-list> </icon-store-menu-list>
                                </svg>
                            </Side-Bar-Trigger>
                        {% endif %}

                        <div class="logo {{ merchantData.logo_url ? '' : 'logo--empty' }}">
                            {% if merchantData.logo_url %}
                                <a href="/" class="inline-block">
                                    <img src="{{ merchantData.logo_url }}" alt="{{ merchantData.company.razao_social }}" width="auto" height="auto">
                                </a>
                            {% else %}
                                <empty-logo store-name="{{ merchantData.manifest.name }}"></empty-logo>
                            {% endif %}
                        </div>

                        {% if headerLayout == 'inline' %}
                            <div class="categories">
                                {% include "elements/header/categories.twig" %}
                            </div>
                        {% endif %}
                        
                        <div class="holder-search">
                            {% if section.params.search_enabled %}
                                <search-bar></search-bar>
                            {% endif %}
                        </div>

                        {% include "elements/header/cart-content.twig" %}
                    </div>

                    {% if headerLayout == 'left' or headerLayout == 'center' %}
                        <div class="header-row  --{{ headerLayout }} categories">
                            {% include "elements/header/categories.twig" %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </fixed-header>
    </rocket-emitter>
</section>

