<rocket-emitter emits="product_reviews" label="Avaliações e Dúvidas" order="{{ section.order }}">
    <section class="product-reviews {{ "#{section.section_alias}-#{section.order}" }} container">
        <product-reviews
            order="{{ section.params.visualization_type }}"
            :show-reviews="{{ section.params.show_reviews ? 'true' : 'false' }}"
            :show-questions="{{ section.params.show_questions ? 'true' : 'false' }}"
            :show-dates="{{ section.params.show_dates ? 'true' : 'false' }}"
            :limit="999"
            :show-average-reviews="{{ section.params.show_average_reviews ? 'true' : 'false' }}"
            icon="{{ merchantData.meta.icons.default }}"
        ></product-reviews>
    </section>
</rocket-emitter>
