{% set breadcrumbLevels = [] %}
{% set parentCategoryPath = content.data.meta.parent.url_path %}
{% set pageName = content.data.meta.name %}

{% if context == 'search' %}
    {% set pageName = "Busca por \"#{content.data.q}\"" %}
{% endif %}

{% if parentCategoryPath %}
    {% set breadcrumbLevels = breadcrumbLevels | merge([{
        'link': parentCategoryPath,
        'name': content.data.meta.parent.name
    }]) %}
{% endif %}

{% set breadcrumbLevels = breadcrumbLevels | merge([{
    'useHtml': true,
    'link': '',
    'name': pageName
}]) %}


<section class="category-content">
    <category-content
        class="{{ "#{section.section_alias}-#{section.order}" }}"
        products-per-page="{{ section.params.products_per_page }}"
        v-slot="{ newHtml, updateFilters, updateOrderBy, updateGrid, updateCurrentPage, selectedOrder, paginate, isMosaic, isMobile }"
    >
        {% include 'elements/breadcrumbs.twig' with {'levels': breadcrumbLevels} %}

        <div class="flex-holder container flex">
            {% if section.params.filters_enabled and customData['content'].data.data | length %}
                <div class="filters">
                    <filters
                        :show-price="{{ section.params.show_price_slider ? 'true' : 'false' }}"
                        :show-brand="{{ section.params.show_brand ? 'true' : 'false' }}"
                        :show-categories="{{ section.params.show_subcategories ? 'true' : 'false' }}"
                        active-category="{{ content.data.meta.name }}"
                    ></filters>
                </div>
            {% endif %}

            <div class="holder-results">
                <v-runtime-template v-if="newHtml" :template="newHtml"></v-runtime-template>
                <div v-else>
                    {% include 'elements/search-results.twig' %}
                </div>
            </div>
        </div>
    </category-content>
</section>
